body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #ff6b00;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  height: auto;
  padding: 12px;
  width: fit-content;
  border: none;
}

.button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
}

.fullwidth {
  width: 100%;
  text-align: center;
}

.header-container {
  background-color: #3c3a39;
  display: flex;
  margin: 0;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;
  height: 44px;
}

.header-title-container {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
  flex: 5;
  text-decoration: none;
}

.header-menu-icon {
  background-color: #3c3a39;
  border: 0;
  flex: 1;
  display: flex;
  justify-content: end;
}

.menu-container-lg {
  display: flex;
  flex: 1;
}

.nav-button-group {
  display: flex;
  gap: 24px;
  align-items: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
}

.headline-container {
  background: #1c1a19 url("../images/Illustration.png") 100% 100% no-repeat;
  margin: 0;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.headline-title {
  font-family: 'Crete Round', sans-serif;
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  margin: 0;
}

.headline-subtitle {
  font-family: 'Roboto', sans-serif;
  color: #fff5e1;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.headline-text {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 0;
}

.social-media-button-group {
  display: flex;
  align-items: center;
  width: 200px;
  margin: 0;
  padding: 0;
}

.social-media-button {
  background-color: #1c1a19;
  border: 0;
  padding: 8px;
  border-radius: 50%;
}

.works-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px, 56px, 568px, repeat(6, 386px);
  row-gap: 24px;
  padding-inline: 24px;
  padding-block: 120px;
}

.works-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}

.works-title {
  color: #1c1a19;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  font-family: 'Crete Round', sans-serif;
  margin-bottom: 0;
  padding-bottom: 0;
}

.works-divider {
  border-top: 1px solid #212121;
  width: 100%;
  padding: 0;
}

.work-container {
  display: flex;
  flex-direction: column;
  gap: 10px 12px;
}

.work-main-content {
  display: flex;
  flex-direction: column;
  gap: 10px 12px;
}

.bg-image {
  background-image: url('../images/image1.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 90px;
}

.light {
  color: #091e42;
}

.dark {
  color: #fff;
}

.work-content-dark {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.work-title {
  font-family: 'Crete Round', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  margin: 0;
}

.work-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.work-tag-group {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.work-tag {
  border: 1px solid #8993a4;
  background-color: #fff;
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 12px;
}

.work-tag-dark {
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 12px;
}

.work-footer-container-light {
  display: flex;
}

.work-footer-container-dark {
  width: 100%;
  background-color: #ff6b00;
  height: 48px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.about-container {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 24px;
  height: 652px;
  background-image: url("../images/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.about-title {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  line-height: 88px;
  font-size: 72px;
  font-weight: 400;
  padding-top: 120px;
  margin: 0;
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f7;
  padding: 0;
}

.about-divider-container {
  padding-inline: 24px;
}

.skills-container {
  padding: 120px 24px;
}

.skills-items-title-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 0;
}

.skills-items-title {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-block: 44px;
}

.skills-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.skills-items {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}

#form-headline {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.white-background {
  background-color: #fff;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.make-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.inputs {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 24px;
  width: 90%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 14px;
}

.make-flex textarea {
  background-color: #fbf8f7;
  border-bottom: none;
}

.footer-container {
  background-color: #fff;
  border-top: 1px solid #dfe1e6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-button-group {
  display: flex;
  justify-content: center;
  margin-block: 15px;
  width: 200px;
  height: 40px;
  align-items: center;
}

.footer-social-media-button {
  padding: 10px;
}

.footer-bottom-line {
  box-sizing: border-box;
  width: 134px;
  background-color: #0d151e;
  margin-block: 8px;
  border-radius: 10px;
  height: 5px;
}

.lg-none {
  display: flex;
}

.sm-none {
  display: none;
}

@media screen and (min-device-width: 768px) {
  .sm-none {
    display: flex;
  }

  .header-container {
    height: 72px;
  }

  .headline-container {
    background: #1c1a19 url("../images/Illustration-header.png") 100% 0% no-repeat;
    background-size: 650px auto;
    height: 95vh;
    flex-direction: row;
    justify-content: flex-start;
    gap: 88px;
    padding: 0 12px;
  }

  .headline-content {
    height: 739px;
    width: 33%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    order: 1;
    padding: 192px 0;
  }

  .social-media-button-group {
    flex-direction: column;
    justify-content: center;
    width: auto;
    padding: 0;
  }

  .works-container {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap: 24px;
    padding-inline: 10%;
    padding-block: 120px;
  }

  .works-title-container {
    grid-column: 1/4;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-bottom: 90px;
  }

  .works-title {
    margin: 0;
  }

  .works-divider {
    width: 60%;
  }

  .work-main {
    grid-column: 1/4;
    flex-direction: row;
    gap: 24px;
  }

  .work-main-image {
    height: 448px;
  }

  .work-container {
    box-sizing: border-box;
    height: 435px;
  }

  .bg-image {
    padding: 16px;
    justify-content: flex-end;
  }

  .work-light {
    background-image: url('../images/Image-ProfesionalPrint.png');
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .data-image {
    background-image: url('../images/Image-DataDashboard.png');
  }

  .website-image {
    background-image: url('../images/Image-WebsitePortfolio.png');
  }

  .about-container {
    padding: 142px;
    background-image: url('../images/Illustration-about-me.png');
    background-repeat: no-repeat;
    background-position: 100% 10%;
    gap: 140px;
  }

  .about-content {
    background-image: none;
    width: 40%;
    height: auto;
  }

  .about-title {
    padding-top: 0;
  }

  .skills-container {
    margin: 0;
    padding: 0;
  }

  .skills-items {
    min-width: 282px;
    padding: 8px;
  }

  .skills-items-container {
    display: flex;
    flex-direction: row;
    gap: 164px;
    justify-content: space-between;
  }

  .skills-items-title-container {
    margin-bottom: 44px;
    margin-top: 0;
    justify-content: flex-start;
  }

  .skills-items-title {
    margin: 0;
  }

  .skills-item-list {
    align-items: flex-start;
  }

  .white-background {
    flex-direction: row;
    padding: 130px;
    gap: 24px;
    align-items: flex-start;
  }

  #form-headline {
    flex-grow: 1;
    flex-basis: 455px;
    text-align: left;
    margin: 0;
    font-size: 40px;
    line-height: 52px;
  }

  .contact-form {
    flex-grow: 3;
    flex-basis: 684px;
    align-items: flex-start;
  }

  .lg-none {
    display: none;
  }
}
