body {
  margin: 0;
  padding: 0;
}

main {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.header-container {
  background-color: #3c3a39;
  display: flex;
  margin: 0;
  padding: 0 24px;
  align-items: center;
  justify-content: space-between;
  height: 44px;
}

.header-title-container {
  flex: 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: #fff;
  flex: 5;
  text-decoration: none;
}

.header-menu-icon {
  background-color: #3c3a39;
  border: 0;
  flex: 1;
  display: flex;
  justify-content: end;
}

.headline-container {
  background: #1c1a19 url("../images/Illustration.png") 100% 100% no-repeat;
  margin: 0;
  padding: 120px 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.headline-title {
  font-family: 'Crete Round', sans-serif;
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  margin: 0;
}

.headline-subtitle {
  font-family: 'Roboto', sans-serif;
  color: #fff5e1;
  font-size: 24px;
  margin: 0;
  padding: 0;
}

.headline-text {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin: 0;
}

.social-media-button-group {
  display: flex;
  align-items: center;
  width: 200px;
  margin: 0;
  padding: 0;
}

.social-media-button-group li {
  list-style-type: none;
}

.social-media-button {
  background-color: #1c1a19;
  border: 0;
  padding: 8px;
  border-radius: 50%;
}

.works-container {
  background-color: #fff;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 200px, 56px, 568px, repeat(6,386px);
  row-gap: 24px;
  padding-inline: 24px;
}
.work-title-container {
  display: flex;
  align-items: flex-end;
}

.works-title {
  color: #1c1a19;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Crete Round', sans-serif;
  padding-top: 60px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.works-divider-container {
  margin-top: 0;
  margin-bottom: 80px;
}

hr.works-divider {
  border-top: 1px solid #212121 ;
  margin: 0;
  padding: 0;
}

.work-container {
  display: flex;
  flex-direction: column;
  gap: 10px 12px;
}

.bg-image {
  background-image:  url('../images/image1.png');
  background-repeat:repeat-x;
  padding-top: 90px;
}

.light {
  color: #091e42;
}

.dark {
  color: #fff;
}

.work-content-dark {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

.work-title {
  font-family: 'Crete Round';
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  margin: 0;
}

.work-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.work-tag-group {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 12px;
}

.work-tag {
  border: 1px solid #8993a4;
  background-color: #fff;
  color: #091E42;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 12px;
}

.work-tag-dark {
  background-color: rgba(255, 255, 255, 0.24);
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 12px;
}

.work-footer-container-light {
  display: flex;
}

.button {
  background-color:#ff6b00 ;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  font-weight: 700;
  height: 24px;
  padding: 12px;
}

.work-footer-container-dark {
  width: 100%;
  background-color: #ff6b00;
  height: 48px;
  display: flex;
  justify-content:center;
  margin-top: 10px;
}

.about-container {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-inline: 24px;
  height: 652px;
  background-image: url("../images/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.about-title {
  color: #ff6b00;
  font-family: 'Crete Round', sans-serif;
  line-height: 88px;
  font-size: 72px;
  font-weight: 400;
  padding-top: 120px;
  margin: 0;
}

.about-text {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #f4f5f7;
  padding: 0;
}

.about-divider-container {
  padding-inline: 24px;
}

.skills-container {
  padding: 120px 24px;
}

.skills-items-title-container {
  display: flex;
  gap: 12px;
  justify-content: center;
  margin: 0;
}

.skills-items-title {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  margin-block: 44px;
}

.skills-item-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.skills-items {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 22px;
}
